# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vue build
client/cheaptripfe/dist/

# Logs
logs/
*.log

# dotenv environment variables
.env
.env.*


*.local


# MongoDB data
mongo_data/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
coverage/
.idea/ 